.fond {
  height: 600px;
  width: 800px;
  background-color: grey;
}

.section1 {
  position:relative;
  padding: 10px;
  perspective: 1200px;
  animation: direction 8s infinite;
}

.section2 {
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 10s infinite;
  left: 150px;
  top: 50px;
}

@keyframes rotation {
  from {
    transform: rotateY(-360deg) rotateX(-360deg);
  }
  to {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

@keyframes direction {
  from {
    transform: translateX(0px) translateY(0px) ;
  }
  20% {
    transform: translateX(530px) translateY(55px);
  }
  40% {
    transform: translateX(330px) translateY(450px);
  }
  60% {
    transform: translateX(0px) translateY(320px);
  }
  80% {
    transform: translateX(500px) translateY(200px);
  }
}

div {
  height: 20px;
  width: 20px;
  background-color: indianred;
  border: 1px solid black;
  position: absolute;
}

.carre1 {
  transform: rotateY(0deg) translateZ(100px);
  background-color: greenyellow;
}

.carre2 {
  transform: rotateY(40deg) translateZ(100px);
  background-color: chartreuse;
}

.carre3 {
  transform: rotateY(80deg) translateZ(100px);
  background-color: lawngreen;
}

.carre4 {
  transform: rotateY(120deg) translateZ(100px);
  background-color: lime;
}

.carre5 {
  transform: rotateY(160deg) translateZ(100px);
  background-color: limegreen;
}

.carre6 {
  transform: rotateY(200deg) translateZ(100px);
  background-color: palegreen;
}

.carre7 {
  transform: rotateY(240deg) translateZ(100px);
  background-color: lightgreen;
}

.carre8 {
  transform: rotateY(280deg) translateZ(100px);
  background-color: mediumspringgreen;
}

.carre9 {
  transform: rotateY(320deg) translateZ(100px);
  background-color: mediumseagreen;
}
