section {
  background-color: grey;
  height: 500px;
  width: 700px;
  position: relative;
}
div {
  position: absolute;
  top: 20px;
  left: 20px;
}

.carre1 {
  height: 50px;
  width: 50px;
  border-radius: 5%;
  background-color: red;
  animation: masuperanimation 5s;
  animation-iteration-count: infinite;
}

.carre2 {
  height: 50px;
  width: 50px;
  border-radius: 5%;
  background-color: red;
  animation: masuperanimation 5s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;

}

.carre3 {
  height: 50px;
  width: 50px;
  border-radius: 5%;
  background-color: red;
  animation: masuperanimation 5s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

.carre4 {
  height: 50px;
  width: 50px;
  border-radius: 5%;
  background-color: red;
  animation: masuperanimation 5s;
  animation-delay: 1.8s;
  animation-iteration-count: infinite;
}

.carre5 {
  height: 50px;
  width: 50px;
  border-radius: 5%;
  background-color: red;
  animation: masuperanimation 5s;
  animation-delay: 2.4s;
  animation-iteration-count: infinite;
}

@keyframes masuperanimation {
  0% {
    top: 20px;
    left: 20px;
  }
  25% {
    top: 20px;
    left: 630px;
    background-color: blue;
  }
  50% {
    top: 430px;
    left: 630px;
    background-color: green;
  }
  75% {
    top: 430px;
    left: 20px;
    background-color: purple;
  }
}
