@font-face {
  font-family: 'LettersForLearners';
  src:url(../font/font.ttf);
}

body {
  font-family: 'LettersForLearners';
  font-size: 1.5em;
}

#sousinfogen {
  width: 70%;
  border: 1px solid black;
  display: flex;
}

.left {
  width: 50%;
  display: flex;
}

.left .temp {
  margin-left: 30px;
  margin-top: 35px;
}

.right {
  width: 50%;
}

#jourssuivants {
  width: 100%;
  border: 1px solid red;
}

#coljourssuivants {
  display: flex;
}

#align {
  margin: auto;
}

@media screen and (min-width: 700px) {
  #jourssuivants {
    display: flex;
  }

  #coljourssuivants {
    display: flex;
    flex-direction: column;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%; border: 1px solid black;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
